<!--{{#if currentUser}}-->
<!--    <h3>Welcome, {{currentUser.name}}</h3>-->
<!--    <div>-->
<!--        <h4>Your Tasks</h4>-->

<!--        {{#if tasks}}-->
<!--            <ul>-->
<!--            {{#each tasks}}-->
<!--                <li class="tasks-list-item {{#if this.isComplete}} complete-task {{/if}}">-->
<!--                  <span class="task-title">{{this.title}}</span>-->
<!--                  {{#if this.taskowner}}-->
<!--                  <form method="get" action="/task/{{this.id}}/delete">-->
<!--                    <input type="submit" name="delete-task" class="delete-task" value="Delete">-->
<!--                  </form>-->
<!--                  {{/if}}-->
<!--                  {{#if this.isComplete}}-->
<!--                  <form method="get" action="/task/{{this.id}}/complete">-->
<!--                    <input type="submit" name="toggle-task" class="toggle-task" value="Mark incomplete">-->
<!--                  </form>-->
<!--                  {{else}}-->
<!--                  <form method="get" action="/task/{{this.id}}/complete">-->
<!--                    <input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">-->
<!--                  </form>-->
<!--                  {{/if}}-->
<!--                </li>-->
<!--            {{/each}}-->
<!--            </ul>-->
<!--        {{else}}-->
<!--            No tasks to show!-->
<!--        {{/if}}-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div>-->
<!--        <h4>Add a new task</h4>-->
<!--        <form action="/task/create" method="POST">-->
<!--            <label for="title">Task title</label>-->
<!--            <input name="title" type="text"><br>-->
<!--            <label for="description">Task Description</label>-->
<!--            <input name="description" type="text"><br>-->
<!--            Collaborators<br>-->
<!--            <input name="collaborator1" type="email"><br>-->
<!--            <input name="collaborator2" type="email"><br>-->
<!--            <input name="collaborator3" type="email"><br>-->
<!--            <input type="submit" class="create-task-submit">-->
<!--        </form>-->
<!--    </div>-->

<!--{{else}}-->
<!--<div>-->
<!--    <form class="login" action="/user/login" method="POST">-->
<!--        <label for="email">Email</label>-->
<!--        <input name="email" id="email" type="text"><br>-->
<!--        <label for="password">Password</label>-->
<!--        <input name="password"  id="password" type="text"><br>-->
<!--        <input type="submit"  class="log-in-submit">-->
<!--    </form>-->
<!--</div>-->

<!--<div><hr></div>-->

<!--{{/if}}-->